.custom-layout {
	position: absolute;
	inset: 0px;
	z-index: 300;
	pointer-events: none;
}

.header {
	position: absolute;
	top: 3vh;
	width: 100%;
	padding: 0vw 5vw 0vw 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-toolbar {
	position: absolute;
	bottom: 5vh;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 8px;
}

.custom-button {
	pointer-events: all;
	padding: 12px 12px;
	background: white;
	border: 1px solid black;
	border-radius: 64px;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

.custom-button[data-isactive='true'] {
	background-color: black;
	color: white;
}

.next-button {
	background: #0091ff;
	color: white;
	font-size: 16px;
	padding: 12px 48px;
}


h1 {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

h2 {
	font-weight: regular;
	font-size: 18px;
	text-align: center;
}

.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff; /* or any color you prefer */
}

.splash-screen video {
	/* padding: 20% */
	max-width: 60%;
	max-height: 60%;
	object-fit: cover;
}

/* .fill-watermark-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: right;
	/* background-color: #ffffff; /* or any color you prefer */
} */

/* .fill-watermark {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 10000;
} */

.icebreaker-prompt {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	padding: 10px 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: color 0.5s ease;
}

.icebreaker-prompt h3 {
	font-size: 18px;
	margin: 0 0 10px 0;
	text-align: center;
}

.countdown {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}